
@import url('http://fonts.cdnfonts.com/css/candy-shop-black-personal-use?styles=75616,75617,75618');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

img{
    width: 400px;
    height: auto;
   
    margin-right: 40px;

}

body, html{
    color: black;
    background-color: rgba(255,240,237);
    /* background-color: white; */
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Candy Shop Personal Use', sans-serif;
    font-size: 40px;
}


a{
    padding: 20px;
    text-decoration: none;
    color: #88D7D1;
    display: block;
    font-size: 30px;
}

#main-title{
    margin-top: 200px;
}

.imageHeader{
    height: 400px;
    margin: 0px;
    background-size: cover;
    
}

header{
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}


#outer-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
}


#page-content{
    align-self: center;
    /* color: black; */
    font-size: 30px;
}

#nav-container{
    position: fixed;
    left: 0px;
    top: 400px;
}

.image-shop{
    width: 1080px;
    margin-left: 40px;
}

p{
    font-family: 'ABeeZee', sans-serif;
    font-size: 24px;
}

.dark-mode{
    color: pink;
    background-color: black;
}


button{
    margin-left: 20px;
    margin-bottom: 40px;
    display: block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #88D7D1;
    line-height: 1.15;
    font-size: 16px;
}


button:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #88D7D1;
        color: white;
}


.new-mode{
    background-image: url("./assets/images/back.jpg");
    background-repeat: no-repeat;
    margin: 0px;
    background-size: cover;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
